
# NewsAPI Key (opsional) - dapatkan di https://newsapi.org
# Jika kosong, sistem akan menggunakan RSS Feed sebagai sumber data
NEWS_API_KEY=api_key_newsapi

# Jumlah artikel yang ingin diambil
TARGET_ARTICLES=700

# Flask settings
FLASK_DEBUG=True
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
